/* HEX */
$bluegreen: #30bfbf;
$bluegreendarker: #259393;

$deeppurple: #9f2b68;
$deeppurpledarker: #852457;

$white: #ffffff;
$lightgray: #e5e5e5;
$gunmetal: #1f262a;
$dark: #0b0e0f;

$primary: $bluegreen;
$primary-highlight: $bluegreen;

$secondary: $deeppurple;
$secondary-highlight: $deeppurpledarker;

$background: $white;
